%h1 New Discussion
=simple_form_for([@group, @discussion]) do |f|
  =f.input :message_id, as: :hidden if params[:message_id]
  =f.input :title
  -unless params[:message_id]
    =f.simple_fields_for :message do |mf|
      =render 'messages/fields', f: mf
  =f.submit

