%h1=@discussion.title

-#%ul.stats
  -#%li #{@discussion.num_participants} Participants
  -#%li #{@discussion.num_messages} Messages 
  -#%li #{@discussion.num_useful} Marked useful

=render @discussion.message

#master_reply_form{style: 'display:none'}
  =simple_form_for [@group, @discussion, Message.new], remote: true do |f|

    =f.input :parent_id, as: :hidden
    =f.input :body, label: 'Your reply:'
    =f.submit 'Save', class: 'submit_message_button btn btn-primary'
    %a.cancel-reply.btn{href: '#'} Cancel

-content_for :javascript do 
  =subscribe_to "/discussions/#{@discussion.id}"
